{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}

{% comment %}
Delete the line below if you're just getting started and want to remove the welcome screen!
{% endcomment %}
<link rel="stylesheet" href="{% static 'css/welcome_page.css' %}">
{% endblock extra_css %}

{% block content %}

<h1>{{ page.title }}</h1>
<h2>{{ page.subtitle }}</h2>

{% image page.bg_image fill-400x400-c100 as bgimage %}

<a href="{{ bgimage.url }}">Ссылка на картинку с alt {{ bgimage.alt }}</a>

<div>
    {% include_block page.body %}
   <!-- {{ page.rtfbody|richtext }}-->
</div>


{% endblock content %}
